---
import Layout from '../layouts/Layout.astro';
import { TiLocationArrowOutline } from "@react-icons/all-files/ti/TiLocationArrowOutline"
import {BsPerson} from "@react-icons/all-files/bs/BsPerson"
import {AiOutlineClockCircle} from "@react-icons/all-files/ai/AiOutlineClockCircle"
import {IoLogoPython} from "@react-icons/all-files/io/IoLogoPython"
import {DiJavascript1} from "@react-icons/all-files/di/DiJavascript1"
import {FaDocker} from "@react-icons/all-files/fa/FaDocker"
import {SiTypescript} from "@react-icons/all-files/si/SiTypescript"
import {SiVisualstudiocode} from "@react-icons/all-files/si/SiVisualstudiocode"
import {FaSpotify} from "@react-icons/all-files/fa/FaSpotify"
import {SiPostgresql} from "@react-icons/all-files/si/SiPostgresql";
import { Discord } from '@icons-pack/react-simple-icons';
import { Twitter } from '@icons-pack/react-simple-icons';
import { Linkedin } from '@icons-pack/react-simple-icons';
import { Gmail } from '@icons-pack/react-simple-icons';
import { Tailwindcss } from '@icons-pack/react-simple-icons';
import {FaReact} from "@react-icons/all-files/fa/FaReact"
import {RiRocketLine} from "@react-icons/all-files/ri/RiRocketLine"
import {Fastapi} from "@icons-pack/react-simple-icons"
import {Nextdotjs} from "@icons-pack/react-simple-icons"
---

<Layout title="Folu" overview="David - Full Stack Developer">
	<main class="xs:w-11/12 md:w-[650px] mx-auto flex flex-col gap-12">
		<!--General Information -->

		<div id="generalinfo" class="w-full flex justify-between leading-7 tracking-wide text-white mt-[85px]">
		<div>
			<div class="text-[40px]">David Arogunre</div>
			<div class="mt-[20px]">
			<div class="flex text-[15px] gap-1"><span class="relative top-[5px]"><TiLocationArrowOutline/></span>Bayelsa, Nigeria</div>
			<div class="flex text-[15px] gap-1"><span class="relative top-[5px]"><BsPerson/></span><div><span  id="age"></span>y/o Developer and Innovator</div></div>
			<div class="flex text-[15px] gap-1"><span class="relative top-[7px]"><AiOutlineClockCircle/></span> <div>It is currently <span id="time"></span></div></div>
		</div>
		</div>
		</div>

		<!--Who am I -->
		<div>
			<div class="flex text-[35px] text-white">Who am I?</div>
			<div class="text-[18px] text-white">
				I'm David, a full stack developer based in Nigeria at the moment.
			I'm a <a class="text-blue-700" target="_blank" href="https://en.wikipedia.org/wiki/Philomath">philomath</a>. I play piano and also love exploring
				different topics in mathematics  and physics such as calculus and Kinematics, as well as listening to music.
			</div>
		</div>
		<!--Skills and Tech -->
		<div>
			<div class="text-[35px] text-white">Skills & Tech</div>
			<div class="md:grid md:grid-cols-3 xs:flex xs:flex-col leading-loose">
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><IoLogoPython/></span>Python</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><Fastapi width="15px" height="15px"/></span>FastAPI</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><DiJavascript1/></span>Javascript</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><FaReact/></span>ReactJS</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><Nextdotjs/></span>NextJS</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><RiRocketLine/></span>AstroJS</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><SiTypescript/></span>TypeScript</div>
			<div class="flex items-center gap-1 text-[18px] text-white font-medium"><span><FaDocker/></span>Docker</div>
			<div class="text-[18px] flex items-center gap-2 text-white font-medium"><SiVisualstudiocode/>Visual Studio Code</div>
			<div class="text-[18px] flex items-center gap-2 text-white font-medium"><FaDocker/>Docker Desktop</div>
			<div class="text-[18px] flex items-center gap-2 text-white font-medium"><SiPostgresql/>PostgreSQL</div>
			<div class="text-[18px] flex items-center gap-1 text-white font-medium"><Tailwindcss/>TailwindCSS</div>

		</div>
		</div>
		<!--Socials -->
		<div class="mb-[30px]">
			<div class="text-[35px] text-white">Socials</div>
			<div class="flex gap-3">
			<div><a href="https://discord.com/users/davidarogunre" target="_blank"><Discord color="white"/></a></div>
			<div><a href="https://twitter.com/davidarogunre" target="_blank"><Twitter color="white"/></a></div>
			<div><a href="https://www.linkedin.com/in/david-arogunre-78aa67177/" target="_blank"><Linkedin color="white"/></a></div>
			<div><a href="mailto:davidarogunre@gmail.com" target="_blank"><Gmail color="white"/></a></div>

		</div>
		</div>
	</main>
</Layout>

<script>
	function getDateNow(){
		return new Date().toLocaleString('en-US', {
            timeZone: 'Africa/Lagos',
            weekday: "long",
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            timeZoneName: 'short'
        });
    }
	let ctime = getDateNow()
	let time = document.getElementById("time")
	time.innerHTML = ctime
	setInterval(()=>{
		let ctime = getDateNow()
		time.innerHTML = ctime
	}, 1000)


	function getAge(){
		let currentDate = new Date()
		let birthDate = new Date("04/07/2008")
		let difference = currentDate.getTime() - birthDate.getTime()
		let age = document.getElementById("age")
		let value = String(Math.floor(difference/(1000*60*60*24*365)))
		age.innerText = value + "   "
	}
getAge()

</script>